<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEFAULT_LANGUAGE</key>
	<string>en-US</string>
	<key>WIT_AI_URL</key>
	<string>https://api.wit.ai/message</string>
	<key>WIT_AI_VERSION</key>
	<string>20171204</string>
	<key>WIT_AI_TOKEN</key>
	<string>Bearer 4YN3NTPXSSKOH6VINIK46MLXSNNZ6NTJ</string>
	<key>DARKSKY_URL</key>
	<string>https://api.darksky.net/forecast</string>
	<key>DARKSKY_TOKEN</key>
	<string>4d8f2e08ba79bb64329f676da0325619</string>
	<key>ICONS_URL</key>
	<string>https://ericrisco.com/weather_icons/&lt;&lt;ICON_NAME&gt;&gt;.png</string>
	<key>DARKSKY_UNITS</key>
	<string>si</string>
	<key>TRUSTING_CONFIDENCE</key>
	<string>0.65</string>
</dict>
</plist>
